/* Reset default margin and padding */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set body font family and background color */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Dark mode */
.dark-theme {
    background-color: #333;
    color: #fff;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Search bar styles */
#searchInput {
    width: 300px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Dropdown styles */
#genresFilter {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 10px;
}

/* Main section styles */
main {
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* Quote display section styles */
#quoteDisplay {
    max-width: 600px;
}

/* Individual quote styles */
.quote {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.quote p {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.quote span {
    font-style: italic;
    font-size: 1rem;
    color: #777;
}

/* Dark theme individual quote styles */
.dark-theme .quote {
    background-color: #444;
    border-color: #888;
}

.dark-theme .quote p {
    color: #fff;
}

.dark-theme .quote span {
    color: #bbb;
}

/* Add styles for the slider toggle button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Like button */
.like-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.heart {
    width: 24px;
    fill: #C6C6C6; /* Default color */
    transition: fill 0.3s ease;
}

.like-btn.clicked .heart {
    fill: #FF5757; /* Liked color */
}


.container {
    display: flex;
    flex-direction: column;
}

.section {
    margin-bottom: 10px;
    margin-top: 10px;
}

.line {
    border: 1px solid #cf1919;
    margin: 10px 0;
}
